body {
    margin: 70px;
    border: 10px solid #F6B7D2;
}

h1 {
    margin: 20px;
    text-align: left;
    font-size: 80px;
    color: #F6B7D2;
}


fieldset {
    display: flex;
    align-items: center;
    padding: 10px;
}

legend{
    font-size: 20px;
    font-weight: bold;
}

label {
    font-size: 18px;
}

/*Ids*/
#navigation_bar {
    background-color: #F6B7D2;
    text-align: center;
}

#main {
    margin: 20px;
}

#footer {
    background-color: #F6B7D2;
    text-align: center;
}

#sign_up_button {
    margin: 10px;
    background-color: #F6B7D2;
    color: white;
    
}

/*classes*/

.filter-submit-button{
    background-color: #f6b7d2; 
    color: white; 
    border: none; 
    padding: 15px 32px; 
    font-size: 20px; 
    cursor: pointer; 
    border-radius: 5px;
}

.checkboxes{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.legend-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.nav_link {
    margin: 50px;
    font-size: 30px;
    color: white;
}

.footer_link {
    margin: 150px;
    font-size: 30px;
    color: white;
}

.title_header{
    display: flex;
    align-items: center;
}

.logo_image{
    height: 200px;
    padding: 10px;
}

.filter-explanation{
    font-size: 20px;
    font-weight: bold;
}


/*a:links*/
a:link { 
    text-decoration: none; 
  } 
a:visited { 
    text-decoration: none; 
  } 
a:hover { 
    text-decoration: none; 
    color:#C5FFFD;
  } 
a:active { 
    text-decoration: none; 
  }